<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo"><a href="{{ home }}"><img src="/catalog/view/theme/default/image/logo.png" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
          {# <h1><a href="{{ home }}">{{ name }}</a></h1> #}
        </div>
      </div>
      <div class="col-sm-3">
        <h5>Компанія</h5>
        <ul class="list-unstyled">
          <li><a href="#">Про нас</a></li>
          <li><a href="index.php?route=information/contact">Співпраця</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Інформація</h5>
        <ul class="list-unstyled">
          <li><a href="#">Як це працює?</a></li>
          <li><a href="index.php?route=information/information&information_id=3">Політика безпеки</a></li>
          <li><a href="index.php?route=information/information&information_id=5">Угода користувача</a></li>
        </ul>
      </div>
      {# <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div> #}
      {# <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div> #}
    </div>
    {# <hr>
    <p>{{ powered }}</p> #}
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>